{{/*
Author: Timothy Stranex <tstranex@carpcomm.com>
Copyright 2013 Timothy Stranex
*/}}

{{template "page" .}}

{{define "title"}}Satellites{{end}}
{{define "navigation"}}{{end}}

{{define "extra_head"}}
<style>
ul {
  padding-left: 0;
  list-style-type: none;
}
li {
  margin-bottom: 1em;
}
li img {
  width: 64px;
  height: 64px;
  vertical-align: middle;
  margin-right: 1em;
}
</style>
{{end}}

{{define "body"}}

<ul>
  {{range .Body}}
  <li><a href="{{SatelliteViewURL .Id}}"><img src="{{if .Photo}}{{range .Photo}}{{.ThumbnailUrl}}{{end}}{{else}}/images/generic_satellite_64.png{{end}}"></a><a href="{{SatelliteViewURL .Id}}">{{RenderSatelliteName .Name}}</a></li>
  {{end}}
</ul>

{{end}}
